@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body {
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
   font-family: 'Roboto Condensed',
    sans-serif;

    }

.Nav {
    background-color: rgba(85, 65, 104, 0.4);
    width: 100vw;
    height: 2em;
    text-align: center;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 20;
        margin-top: 2px;
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 1

}

.Nav a {
  

    text-decoration: none;
    color: rgb(218, 218, 218);
    font-size: 2em;

}

        
.Navbar-link {
    
    margin-right: 2em;
}

.Title {
        max-width: 20%;
    font-family: 'Chakra Petch', sans-serif;
        background-color: rgba(238, 238, 238, 0.2);
        font-size: 1em;
        color: rgba(12, 0, 0, 0.8);
        margin-left: 0.2em;

        }
.background-title {

                    position: fixed;
                    min-width: 4em;
                    min-height: 20em;
                    left: 0;
                    background-image: url("mite-portrait.png");
                    background-size: cover;
                    cursor: pointer;
                    z-index: 1;

                }

.Main-banner-background {
                left: 0;
                    top: 0;
                    min-height:5em;
                       position: fixed;
                  min-width: 100%;
                    background-image: url("mite-3.png");
                    background-size: cover;
                    cursor: pointer;
                    z-index: -1;
                    border: 0px
                }


/* Header of each page */

.header {
            text-align: center;
        

}

/* Main component */

.Main {
        position:relative;
  margin-top:80px;
        display:flex;
    flex-direction: column;
    align-items: left;
    min-height: 75vh;
max-height: 75vh;
min-width: 70vw;
max-width: 70vw;
overflow: auto;
border: 1px dotted;
padding: 1em;
    color: rgb(70, 70, 70);
    background-size: cover;
      z-index: 10;
      border-radius: 5px;
    background-color: rgba(52, 25, 80, 0.4);
z-index: 1;
font-size: 23px;


}

.main-player {
  position:relative;
  margin-top:80px;
        display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;
max-height: 75vh;
min-width: 70vw;
max-width: 70vw;
overflow: auto;
border: 1px dotted;
padding: 1em;
    color: rgb(70, 70, 70);
    background-size: cover;
      z-index: 10;
      border-radius: 5px;
    background-color: rgba(52, 25, 80, 0.4);
z-index: 1;
font-size: 23px;

}


.Main img {
text-align: center;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 4em;
    font-size: 23px;

}
.Post-date {
    color:rgb(194, 77, 77)
}


.News {
    width: 20em;
    border:1px solid;
}

.paragraph {
    color: rgb(85, 85, 87);
    text-align: left;
        max-width: 90%;

}



/* About */

.about {
display: flex;
justify-content: center;
font-size: 15px;
font-size: 23px;

    
}

.about div {
  padding-right: 1em;
  margin-left: 1em;
  border-right: 1px solid;
}

.about section {
  margin-top: 1em;
  margin-bottom: 1em;

}

.Portraits {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
}


.portrait {
 
   height: 500px;
    border: 1px solid rgba(238, 19, 19, 0.51);
    border-radius: 75%;
  opacity: 60%;
  margin-bottom: 2em;
  margin-top: 2em;


}

.icon {
    max-width: 1%;
    text-align: center;
}


/* Music */
.album {
    background-color: rgba(12, 0, 0, 0.01);
min-width: 10em;
min-height: 10em;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 5%;
margin-bottom: 1em;
padding: 1em;

    
}

.album-title {
    text-decoration: dashed;
}

.album img {
    max-width: 15em;

    cursor: pointer;
    border-radius: 5%;
}
.albums {
 
    margin: 2em;
    padding: 1em;
   

}

/* Contact */

.contactemail {
  font-size: 2em
}

/* Button */
.button {
    max-width: 8em;
}

/* Modal */
.modal {
    border: 1px solid;
    min-width: 10em;
    min-height: 10em;
    background-color: rgba(85, 65, 104,0.95);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin: 5em;
}
.modal-album {
   background-color: rgba(12, 0, 0, 0.8);
    min-width: 80%;
    min-height: 90%;
    padding: 1em;
    border-radius: 1%;
     display: flex;
     flex-direction: column;
     
     align-items: center;
}

.modal-album-title {
color:rgb(214, 48, 48)
}

.modal-album-release {
    color: rgb(226, 100, 100);
       padding: 1em;

}

.modal-album-info {

   color: white;
   padding: 1em;
   font-size: 2em;
}

/* effects */
.Nav a:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.album img:hover {
       opacity: 0.6;
       border-radius: 30%;
}


/* Music Player */

.player-container {
    height: 500px;
    width: 95%;
    background-color: #e5e6e7;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
    display:flex;
    flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 1em;
  }
  
  .img-container {
    display:flex;

    align-items: center;

    height: 300px;
    width: 300px;
    position: relative;

  
  }
  
  .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.3);
  }
  

  #title {
    margin-top: 1em;
  }

  h2 {

    font-size: 25px;
    text-align: center;
    margin: 0;
  }
  
  h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 0;
  }
  
  /* Progress */
  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
  }
  
  .progress {
    background: #242323;
    border-radius: 5px;
  height: 100%;
    /* change this to show progress */
    width: 0%;
    max-width: 100%;
    transition: width 0.1s linear;
  }
  
  .duration-wrapper {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
    font-size: .8em;
  }
  
  /* Controls */
  .player-controls {
    position: relative;
    top: -15px;
display:flex;
align-items: center;
justify-content: center;
  }
  
  .fas:hover {
    filter: brightness(80%);
    
  }

  
  .main-button {
    font-size: 40px;
    position: relative;
    top: 3px;
  }

  #prev {
      margin-right: 1.5em;
  }


#next {
    margin-left: 1em;
}




@media screen and (max-width: 1060px) {
    .Nav {
        top:0;
         min-width: 100vw;
          max-width: 100vw;
max-height: 1vh;
    }

    .Nav a {
      font-size: 1em;
    }

    .Main-banner-background{
      min-height: 3vh;
      height: 3em;
    }

    .background-title {
      margin-top: 3em;
      transform: rotate(20deg); 
     min-height: 5em
    }

    .album img {
      width: 10em;
    }

    .albums {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .portrait {
      width: 5em;
    }
    .about {
      flex-direction: column;
    }
    .about div {
      margin-bottom: 1em;
      border-right:0px
    }
    /* Music Player */
    .img-container {
      width: 8em;
      height: 8em;
    }
    .modal {
      border: 1px solid;
      min-width: 1em;
      width: 95vw;
      min-height: 1em;
      height: 95vh;
      background-color: rgba(85, 65, 104,0.95);
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      margin: 0em;
  }
    .modal-album img{
     min-width: 1em;
     width: 10em;
    }
    .Main-banner-background{
      min-height: 5vh;
      height: 5em;
    }


    }

  @media screen and (min-width: 540px) and (max-width: 1544px) {
    .Nav a {
      font-size: 2em;
    }

    }
    

    
     @media all and (min-width: 900px) {
   

    
    }